<div class="fields twelve columns right">
  
  <div class="field">
     <%= f.text_field :token, class: "input-text large keyword_hidden" %>
   </div>
   
  <%= link_to_remove_fields("remove", f) %>

</div><!--fields-->
