<% content_for :title, "Add Business" %>
<section class="small_box container add_business">
  <div class="row">
    <div class="box seven theform columns centered">
      <% provide(:box_title, "Add a new business") %>
      <%= render 'form' %>
    </div><!--six columns-->
  </div><!--row-->
</section><!--container-->