<% content_for :title, "Curated Content To Manage Your Social Media Profile" %>
<section class="container home">
  <div class="row">
    <div class="featured_wrapper">
      <div class="featured twelve columns">
        <%= image_tag "content.png" %>
        <h2>Curated content for your social media profiles.</h2>
        <br/>
        <a href="#" class="nice button themebutton large">Get Started</a>
  </div><!--row-->
      </div><!--featured-->
   </div><!--featured-wrapper-->
  </div><!--row-->
</section><!--home-->

<section class="container features">
  <div class="feature_heading">
    <div class="row">
      <h2>Reasons you'll love SocialGator</h2>
    </div>
  </div><!--heading-->
  
  <div class="row">
    <ul class="twelve columns">
      <li class="four columns">
        <%= image_tag "publish.png", class: "hide-on-mobiles" %>
        <h3>Publish</h3>
        <p>No more hunting across multiple sites/tools for important messages–everything you need in one, perfect inbox. Monitor your brand, industry and competition across social media and the web.</p>
      </li>
      
      <li class="four columns">
       <%= image_tag "engage.png", class: "hide-on-mobiles" %>
       <h3>Engage</h3>
       <p>No more hunting across multiple sites/tools for important messages–everything you need in one, perfect inbox. Monitor your brand, industry and competition across social media and the web.</p>
      </li>
      
      <li class="four columns">
        <%= image_tag "monitor.png", class: "hide-on-mobiles" %>
        <h3>Monitor</h3>
        <p>No more hunting across multiple sites/tools for important messages–everything you need in one, perfect inbox. Monitor your brand, industry and competition across social media and the web.</p>
      </li>
    </ul>
  </div><!--row-->
</section><!--container-->