<% content_for :title, "Change Password" %>
<section class="small_box container  edit_user_page">
  <div class="row">
    <div class="box seven columns theform centered">
    
	<h3>CHANGE PASSWORD</h3>
        	<!--Form Content-->
        			<div class="notification">Don't want to change ? &nbsp;<%= link_to 'Cancel', root_path, :class=>'inlinebtn button blue medium nice themebutton small right radius' %></div><br />
					<div class = "form">
					<%= form_for @user , :url=> {:controller => "users",:action => "update_password",:id => @user.id}  do |f|  %>
						<% if @user.errors.any? and @user.update_password==1 %>
					
						<div id="error_explanation" class="profile_errors">
							<h3>Please fix the following the errors:</h3><ul>
								<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
								<% end %>
							</ul>
						</div>
						<% end %>
						<div class="field">
						<%= f.label :old_password,'New Password' %>
						<%= f.password_field :old_password , :class => "large input-text" %>
						<span class="hint">(Longer than 6 characters and not easy to guess)</span>
					</div>

					<div class='field'>
						<%= f.label :password,'Confirm Password' %>
						<%= f.password_field :password , :class => "input-text large nice"  %>
					</div>
					<div class="field">
						<label for="submit"></label>
						<%= f.submit 'Change', :class => "button blue medium nice themebutton large center radius" %>
					</div>
					<% end %>
	
</div>
<script>
	$(document).ready(function(){
		$('#user_old_password').val('');
	});
</script>
    </div><!--six columns-->
  </div><!--row-->
</section><!--container-->


