<% content_for :title, "Edit Profile" %>
<section class="small_box container  edit_user_page">
  <div class="row">
    <div class="box seven columns theform centered">
      <%= render 'edit_form' %>
    </div><!--six columns-->
  </div><!--row-->
</section><!--container-->
