<% content_for :title, "SignUp with SocialGator" %>
<section class="small_box container">
  <div class="row">
    <div class="box seven theform columns centered">
      <%= render 'form' %>
    </div><!--six columns-->
  </div><!--row-->
</section><!--container-->
