<% if object.errors.any? %>
  <div class="error_explanation">
    <h4 class="error_heading"><%= pluralize(object.errors.count, 'error') %> prohibited this user from being saved.</h4>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>